@fonte-face{
    font-family: 'Candy-Butterfly';
    src: url("/Bold.ttf");
    font-size: 1em;
}

body{background-color: saddlebrown;}

header{
        width: 100x;
        height: 150px;
        background: rgba(0, 1911, 255, .8);
        z-index: 2;
        position: relative;
}

header .container{
    position: relative;
}

header .header.blue{
    background-color: #ff7f7f;
    height: 40px;
}

header .header-blue li a{
    width: 32px;
    height: 32px;

}

header #logotipo{
    position: absolute;
    top: 20px;
}

#menu{
    margin: 26px 0;
}

#menu li{
display: inline-block;
font-family: "Bold";   
}

#menu li.search{
    widht: 182.px;
}

#menu li.search input{
    background-color: #0077ff;
    color: rgb(255, 255, 255);
    border: nome;
    height: 30px;
    line-height: 30px;
}

#menu li.search ::-webkit-input-placeholder{
    color-#fff;
}




#menu li a{
    color:00008B;
    font-size: 25px;
    padding: 10px 25px ;
    font-weight: bold;
}

#banner {
    width: 100x;
    height: 728px;
    position: relative;
    background: url("../img NOME DA IMAGEM.png"); no-repeat;
    top: -110px;

}

#banner h1{
    color #00FF7F;
    top: 300px;
    position: relative;
    font-size: 92px;
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.45);
    font-family: NOME DA FONTE ;
    margin-left: 50px;
}

#banner h1 small{
    font-size: 32px;
    display: block;
    color: #000FF7F;
    font-family:;
    text-shadow: 2px 2px 2px
}